h1 {
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0.01vw;
  font-family: "Druk Cyr";
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0.02vw;
  font-family: "Druk Cyr";
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.01vw;
  font-weight: 700;
}

.card-title {
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0vw;
  font-weight: 700;
}

.accent {
  font-size: 48px;
  line-height: 110%;
  letter-spacing: 0.03vw;
  font-family: "Druk Cyr";
  font-weight: 500;
  text-transform: uppercase;
}

.lead {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.02vw;
  font-weight: 500;
}

.primary {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02vw;
  font-weight: 500;
}
.primary.hundred {
  line-height: 100%;
  text-transform: lowercase;
}

.secondary {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0vw;
  font-weight: 500;
}

.caption {
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.02vw;
  font-weight: 500;
}

.button-big {
  font-size: 32px;
  line-height: 96%;
  letter-spacing: 0.015vw;
  font-family: "Druk Cyr";
  font-weight: 500;
  text-transform: uppercase;
}

.button {
  font-size: 18px;
  line-height: 90%;
  letter-spacing: -0.02vw;
  font-weight: 500;
  text-transform: lowercase;
}

.link {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0vw;
  font-weight: 500;
  text-transform: lowercase;
}

.link-small {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: -0.02vw;
  font-weight: 500;
}

.tab {
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.01vw;
  font-weight: 700;
}

.button-link {
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid #E4E4E4;
  padding: 0 40px;
  height: 100%;
  color: #2E2E2E;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.button-link svg {
  transition: transform 0.3s ease-in-out;
}
.button-link svg path {
  transition: stroke 0.3s ease-in-out;
}
@media (hover: hover) {
  .button-link:hover {
    background-color: #8A8CCE;
    color: #fff;
    border-color: #8A8CCE;
  }
  .button-link:hover svg {
    transform: rotate(45deg);
  }
  .button-link:hover svg path {
    stroke: #fff;
  }
}

a {
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #8A8CCE;
}

.blur__item {
  padding: 4px 6px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  border-radius: 59px;
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(4px);
  width: fit-content;
}

.preloader {
  background-color: #fff;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
}
.preloader.loaded_hiding {
  transition: 0.8s transform;
  transform: translateY(-100vh);
}
.preloader.loaded {
  display: none;
}

.input-item {
  position: relative;
}
.input-item label {
  position: absolute;
  left: 0;
  bottom: 24px;
  cursor: text;
  transition: top 0.15s ease-in-out, bottom 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
.input-item input {
  background-color: transparent;
  color: #fff;
  padding-bottom: 12px;
  border-bottom: 1px solid #4D4D4D;
}
.input-item input:hover {
  border-color: #fff;
}
.input-item input:focus + label, .input-item input.filled + label {
  top: 0;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 110%;
}
.input-item .input-item__error {
  position: absolute;
  bottom: 0;
  color: #EE6A5F;
  display: none;
}
.input-item input.no-digits.filled:not(.correct) ~ .input-item__error, .input-item input.phone.error ~ .input-item__error {
  display: block;
}
.input-item input.filled:not(:focus) + label {
  opacity: 0;
}
.input-item input.no-digits.filled:not(.correct), .input-item input.phone.error {
  border-color: #EE6A5F;
  color: #EE6A5F;
}
.input-item input.no-digits.filled:not(.correct) + label, .input-item input.phone.error + label {
  color: #EE6A5F;
}

.waveform {
  --uib-size: 40px;
  --uib-speed: 1s;
  --uib-color: #8A8CCE;
  --uib-line-weight: 3.5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: calc(var(--uib-size) * 0.9);
}

.waveform__bar {
  width: var(--uib-line-weight);
  height: 100%;
  background-color: var(--uib-color);
}

.waveform__bar:nth-child(1) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45) infinite;
}

.waveform__bar:nth-child(2) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3) infinite;
}

.waveform__bar:nth-child(3) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15) infinite;
}

.waveform__bar:nth-child(4) {
  animation: grow var(--uib-speed) ease-in-out infinite;
}

@keyframes grow {
  0%, 100% {
    transform: scaleY(0.3);
  }
  50% {
    transform: scaleY(1);
  }
}
@keyframes linesAnimTranslateTop {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.navigation {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.navigation-callback {
  display: none;
}
.navigation-ul {
  display: flex;
  gap: 40px;
  height: 100%;
  align-items: center;
}
.navigation-ul_item {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navigation-ul_item button, .navigation-ul_item a {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: color 0.3s;
}
@media (hover: hover) {
  .navigation-ul_item:hover button, .navigation-ul_item:hover a {
    color: #8A8CCE;
  }
}
.navigation-ul_item.able_to_open span {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #E4E4E4;
  position: relative;
}
.navigation-ul_item.able_to_open span::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 4px;
  background-color: #2E2E2E;
  height: 2px;
  width: 6px;
}
.navigation-ul_item.able_to_open span::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 4px;
  background-color: #2E2E2E;
  height: 2px;
  width: 6px;
  transform: rotate(90deg);
  transition: opacity 0.3s;
}
@media (hover: none) {
  .navigation-ul_item.able_to_open.active, .navigation-ul_item.able_to_open.active button {
    color: #8A8CCE;
  }
  .navigation-ul_item.able_to_open.active span::before, .navigation-ul_item.able_to_open.active button span::before {
    opacity: 0;
  }
}
.navigation-ul_item.able_to_open .inner__ul {
  position: absolute;
  top: 63px;
  left: -1px;
  right: -1px;
  padding: 0;
  border: 1px solid #E4E4E4;
  transition: max-height 0.4s ease-in-out;
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  visibility: hidden;
}
.navigation-ul_item.able_to_open .inner__ul-item {
  padding: 12px 20px;
  border: none;
}
.navigation-ul_item.able_to_open .inner__ul-item:first-child {
  margin-top: 12px;
}
.navigation-ul_item.able_to_open .inner__ul-item:last-child {
  margin-bottom: 12px;
}
@media (hover: hover) {
  .navigation-ul_item.able_to_open:hover {
    color: #8A8CCE;
  }
  .navigation-ul_item.able_to_open:hover span::before {
    opacity: 0;
  }
  .navigation-ul_item.able_to_open:hover .inner__ul {
    visibility: visible;
    transition: max-height 0.7s ease-in-out;
    max-height: 3000px;
  }
  .navigation-ul_item.able_to_open:hover {
    color: #8A8CCE;
  }
}
@media (hover: none) {
  .navigation-ul_item.able_to_open.active {
    color: #8A8CCE;
  }
  .navigation-ul_item.able_to_open.active span::before {
    opacity: 0;
  }
  .navigation-ul_item.able_to_open.active .inner__ul {
    visibility: visible;
    transition: max-height 0.7s ease-in-out;
    max-height: 3000px;
  }
}

.header {
  height: 64px;
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: #fff;
}
.header__container {
  display: flex;
  align-items: center;
  padding: 0 !important;
  height: 100%;
}
.header__logo {
  display: flex;
  padding: 0 40px;
  border: 1px solid #E4E4E4;
  height: 100%;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.header__logo svg path {
  transition: fill 0.3s ease-in-out;
}
.header__logo:hover {
  background-color: #8A8CCE;
  color: #fff;
  border-color: #8A8CCE;
}
.header__logo:hover svg path {
  fill: #fff;
}
.header__callback {
  margin-left: auto;
  max-width: 240px;
}
.header__burger {
  display: none;
}

.hero {
  padding-top: 96px;
  background: url("../img/hero/hero.png") top center no-repeat;
  background-size: cover;
  min-height: 1586px;
  max-height: 1586px;
  height: 100%;
  position: relative;
}
.hero::after {
  z-index: 2;
  content: "";
  left: -7px;
  right: 0;
  bottom: 0;
  height: 65%;
  position: absolute;
  background: url("../img/hero/hero_mask.png") top center no-repeat;
  background-size: cover;
}
.hero__container {
  height: 100%;
}
.hero__content {
  color: #fff;
  position: sticky;
  top: 65px;
}
.hero__content * {
  text-align: center;
  margin: 0 auto;
}
.hero__content-title {
  max-width: 976px;
  margin-bottom: 32px;
}
.hero__content-text {
  max-width: 475px;
}

.statistics {
  position: relative;
  z-index: 2;
}
.statistics__content {
  min-height: 620px;
  padding: 40px 28px;
  width: 100%;
  background-color: #fff;
  margin-top: -172px;
  box-shadow: 0px 12px 12px 0px rgba(46, 46, 46, 0.01), 0px 32px 32px 0px rgba(46, 46, 46, 0.02), 0px 64px 72px 0px rgba(46, 46, 46, 0.03);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-image: url("../img/statistics/map.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.statistics__content-title {
  max-width: 296px;
  position: relative;
  z-index: 2;
}
.statistics__content-info {
  display: flex;
  gap: 40px;
  margin-top: auto;
  position: relative;
  z-index: 2;
}
.statistics__item {
  max-width: 180px;
}
.statistics__item-description {
  color: #ADADAD;
}

.work-with {
  padding: 140px 0 96px 0;
}
.work-with__title {
  margin-bottom: 40px;
}
.work-with__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.work-with__card {
  max-width: 33%;
  padding: 0 24px 24px;
  border: 1px solid #E4E4E4;
  display: flex;
  flex-direction: column;
}
.work-with__card-img {
  display: block;
  padding-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  width: 100%;
  max-height: 264px;
}
.work-with__card:last-child .work-with__card-img {
  margin-bottom: 0;
}
.work-with__card-title {
  margin-bottom: 12px;
}
.work-with__card-text {
  margin-bottom: 24px;
  flex: 1 1 auto;
}
.work-with__card-link {
  height: auto;
  border: none;
  padding: 0;
  margin-top: auto;
}
.work-with__card-link:hover {
  background-color: transparent;
  color: #8A8CCE;
}
.work-with__card-link:hover svg path {
  stroke: #8A8CCE;
}

.features {
  padding: 95px 0 0;
  background-color: #2E2E2E;
  color: #fff;
}
.features__container {
  max-width: none;
  padding: 0 !important;
}
.features__title {
  max-width: 780px;
  margin-left: auto;
  display: block;
  margin-bottom: 40px;
}
.features__item {
  height: 100vh;
  display: flex;
}
.features__item-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 36%;
  width: 100%;
}
.features__item-left_number {
  padding: 40px;
  flex: 1 1 auto;
  border: 1px solid #4D4D4D;
}
.features__item-left_text {
  padding: 40px;
  border: 1px solid #4D4D4D;
}
.features__item-left_text-title {
  margin-bottom: 12px;
}
.features__item-right {
  width: 100%;
  display: flex;
}
.features__item-right .features__slide {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 50%;
  padding: 24px 16px 14px;
  display: flex;
  flex-direction: column;
}
.features__item-right .features__slide-position {
  margin-top: auto;
  margin-bottom: 12px;
}
.features__item-right .features__slide-title {
  margin-bottom: 8px;
  text-transform: capitalize;
}
.features__item-right .features__slide-description {
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.64);
}
.features__item-right .features__slide-contacts {
  display: flex;
  gap: 20px;
}
.features__item-right .features__slide-contacts-item {
  position: relative;
}
.features__item-right .features__slide-contacts-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.64);
  right: -11px;
  top: 43%;
  border-radius: 50%;
}

.news {
  padding: 96px 0;
}
.news__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.news__top-link {
  width: fit-content;
  padding: 24px 40px;
}
.news__top-control {
  display: none;
  gap: 8px;
}
.news__top-control_item {
  padding: 12px;
  border: 1px solid #E4E4E4;
  border-radius: 50%;
}
.news__bottom-link {
  width: fit-content;
  padding: 24px 40px;
  margin-top: 24px;
  display: none;
}
.news__content {
  display: flex;
  height: 540px;
}
.news__content-column {
  display: flex;
  flex-direction: column;
}
.news__content-column .news__item-date {
  border: 1px solid #E4E4E4;
}
.news__content-item {
  height: 50%;
  border: 1px solid #E4E4E4;
}
.news__content-item_tall {
  height: 100%;
  color: #fff;
  position: relative;
  border: none;
}
.news__content-item_tall::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.72) 22.42%, rgba(0, 0, 0, 0) 30%);
  height: 100%;
}
.news__item {
  max-width: 33%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: bottom !important;
}
.news__item-date {
  margin-top: auto;
}
.news__item * {
  position: relative;
  z-index: 2;
}
.footer {
  background-color: #4D4D4D;
  height: 100vh;
}
.footer__bottom {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #2E2E2E;
  color: #fff;
  overflow-y: scroll;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.modal.active {
  pointer-events: all;
  opacity: 1;
  animation: linesAnimTranslateTop 0.4s linear;
  transition: opacity 0.2s ease-in-out;
}
.modal.active {
  display: block;
}
.modal__error {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
  height: 64px;
  left: 0;
  right: 0;
  padding: 0 18px;
  background-color: #EE6A5F;
  color: #fff;
  transition: top 0.3s ease-in-out;
  top: -100px;
}
.modal__error.active {
  top: 0;
}
.modal__header {
  height: 64px;
  position: fixed;
  background-color: #2E2E2E;
  width: 100%;
}
.modal__header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #4D4D4D;
  padding: 0 !important;
  gap: 20px;
}
.modal__header-logo, .modal__header-close {
  height: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}
.modal__header-logo:hover, .modal__header-close:hover {
  background-color: #8A8CCE;
}
.modal__header-logo {
  border-right: 1px solid #4D4D4D;
}
.modal__header-close {
  border-left: 1px solid #4D4D4D;
}
.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 95px 40px 25px 40px !important;
}
.modal__top-title {
  margin-bottom: 16px;
}
.modal__top-description {
  max-width: 480px;
}
.modal__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.modal__bottom-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.modal__bottom-form_input {
  margin-top: 10px;
  margin-bottom: 16px;
  width: 100%;
}
.modal__bottom-form_button {
  padding: 24px 40px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-top: 16px;
}
.modal__bottom-form_agreement {
  color: #707070;
}
.modal__bottom-form_agreement a {
  text-decoration: underline;
}
.modal__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
}
.modal__contacts-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal__contacts-item_description {
  color: #707070;
}
.modal.modal__callback-main {
  display: block;
}
.modal.modal__callback.send-success .modal__callback-main {
  display: none;
}
.modal__success {
  display: none;
  align-items: center;
  justify-content: center;
}
.modal__success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__success-content_img {
  padding: 34px;
  border-radius: 50%;
  background: rgba(138, 140, 206, 0.16);
  border: 1px solid #4D4D4D;
  margin-bottom: 40px;
}
.modal__success-content_title {
  margin-bottom: 16px;
  text-align: center;
}
.modal__success-content_description {
  margin-bottom: 40px;
  text-align: center;
}
.modal__success-content_button {
  padding: 24px 40px;
  background-color: #fff;
  width: fit-content;
}
.modal.send-success .modal__callback-main {
  display: none;
}
.modal.send-success .modal__success {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
